*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif'
}

html{
    overflow-x: hidden;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header{
    background-color: #8400ff;
    padding-top: 12px;
    color: #fff;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

header > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
}

.container_flex{
    display: flex;
}

.sobre_academia img{
    max-width: 480px;
}
.texto h2, .texto p{
    margin: 16px;
    text-align: justify;
}

.texto h2{
    margin-top: 0;
}

section{
    padding: 48px 0;
}

section h2{
    margin-bottom: 16px;
}

.lista_conteudo{
    display: grid;
    grid-template-columns: repeat(3,31%);
    column-gap: 2%;
}

.lista_conteudo li{
    list-style: none;
    margin-bottom: 24px;
}

.lista_conteudo li img{
    max-width: 100%;
}

.lista_conteudo li h3,
.lista_conteudo li p{
    margin: 16px 0;
    margin-top: 10px;
}

.lista_sup img{
    height: 250px;
}