body {
    background-color: #f8f9fa;
}
.card {
    max-width: 600px;
    margin: auto;
}

.menu-btns {
    margin-top: 15%;
    margin-bottom: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-btns button {
    margin-bottom: 10px;
}

#result {
    font-size: 1.5em;
    font-weight: bold;
}
.restart-btn,.menu-btn {
    display: block;/* Fazer o botão ocupar uma linha inteira */
    margin-top: 400px ; /* Adicionar margem superior e centralizar horizontalmente */
}

.answer-block {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.answer-block:hover {
    background-color: #f1f1f1;
}

.answer-block.selected {
    background-color: #d1e7dd;
    border-color: #0f5132;
}

#error-message {
    display: none;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

.result-red {
    color: #a81818;
}

.result-orange {
    color: #b34a09;
}

.result-yellow {
    color: #c8bf10;
}

.result-light-green {
    color: #16782d;
}

.result-dark-green {
    color: #0d460b;
}

.result-info {
    background-color: #8fc0f2; /* Cor de fundo clarinha */
    border: 2px solid #050554; /* Bordas */
    border-radius: 5px; /* Borda arredondada */
    padding: 10px; /* Espaçamento interno */
    margin-bottom: 10px; /* Margem inferior */
}


.result-message {
    margin-bottom: 10px; /* Margem inferior */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Borda arredondada */
}

