*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
}

body{
    background-color: #E7E7E7;
    padding-top: 100px;
}

header{
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

header img{
    height: 40px;
    margin-right: 20px;
}

header h1{
    font-size: 40px;
    font-weight: 800;
}

form input{
    font-size: 20px;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #000;
}

form button{
    background-color: #009432;
    color: #fff;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

